<ion-toolbar>
  <ion-buttons routerLink="/account">
    <ion-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-title class="capitalize text-sm">Cuenta</ion-title>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <h1 class="text-xl text-center">Datos de la cuenta</h1>
  <app-form-profile [form]="accountForm" [inputsForm]="dataInputs" (formEmit)="updateDataPersonal($event)"></app-form-profile>
  <app-toas-form [isOpen]="openToast"></app-toas-form>
</ion-content>
<!-- <app-loader [isLoader]="isLoader"></app-loader> -->
