<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="pb-2">
      <ion-title
        class="font-bold text-3xl font-serif text-center text-black mt-2"
        >Novedades A&R</ion-title
      >
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <div class="slider mb-5">
      <div class="slider-inner" id="slider" #slider>
        <img src="../../../../assets/images/slider/1.jpg" alt="" />
        <img src="../../../../assets/images/slider/2.webp" alt="" />
        <img src="../../../../assets/images/slider/3.jpg" alt="" />
        <img src="../../../../assets/images/slider/4.jpg" alt="" />
      </div>
    </div>

    <app-slider-products [title]="'Novedades'" [products]="novedades"></app-slider-products>

    <app-slider-products [title]="'Descuentos'" [products]="descuentos"></app-slider-products>

    <app-slider-products [title]="'Dama'" [products]="dama"></app-slider-products>

    <app-slider-products [title]="'Caballero'" [products]="caballero"></app-slider-products>

    <app-title-category [title]="'Descubre para dama'"></app-title-category>

    <div class="grid grid-cols-2 mb-5 gap-2 mx-2">
      <img src="../../../../assets/images/mujer/1.png" alt="" />
      <img src="../../../../assets/images/mujer/2.png" alt="" />
      <img src="../../../../assets/images/mujer/3.png" alt="" />
      <img src="../../../../assets/images/mujer/4.png" alt="" />
      <img src="../../../../assets/images/mujer/5.png" alt="" />
      <img src="../../../../assets/images/mujer/6.png" alt="" />
      <img src="../../../../assets/images/mujer/7.png" alt="" />
      <img src="../../../../assets/images/mujer/8.png" alt="" />
      <img src="../../../../assets/images/mujer/9.png" alt="" />
      <img src="../../../../assets/images/mujer/10.png" alt="" />
    </div>


    <app-title-category [title]="'Descubre para caballero'"></app-title-category>

    <div class="grid grid-cols-2 mb-5 gap-2 mx-2">
      <img src="../../../../assets/images/hombre/12.png" alt="" />
      <img src="../../../../assets/images/hombre/13.png" alt="" />
      <img src="../../../../assets/images/hombre/14.png" alt="" />
      <img src="../../../../assets/images/hombre/15.png" alt="" />
      <img src="../../../../assets/images/hombre/16.png" alt="" />
      <img src="../../../../assets/images/hombre/17.png" alt="" />
    </div>

  </ion-content>
</div>
