<ion-card-content>
  <app-error-page *ngIf="faildConection" (reload)="reloadPage()"></app-error-page>
</ion-card-content>
<div class="ion-page" id="main-content" *ngIf="!faildConection">
  <ion-header>
    <ion-toolbar class="pb-2">
      <ion-title
        class="font-bold text-3xl font-serif text-center text-black mt-2"
        >Novedades A&R</ion-title
      >
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="slider mb-5">
      <div class="slider-inner" id="slider" #slider>
        <img src="../../../../assets/images/slider/1.jpg" alt="" />
        <img src="../../../../assets/images/slider/2.webp" alt="" />
        <img src="../../../../assets/images/slider/3.jpg" alt="" />
        <img src="../../../../assets/images/slider/4.jpg" alt="" />
      </div>
    </div>

    <app-slider-products [isLoader]="isLoader" [title]="'Novedades'" [products]="novedades"></app-slider-products>

    <app-slider-products [isLoader]="isLoader" [title]="'Descuentos'" [products]="descuentos"></app-slider-products>

    <app-slider-products [isLoader]="isLoader" [title]="'Dama'" [products]="dama"></app-slider-products>

    <app-slider-products [isLoader]="isLoader" [title]="'Caballero'" [products]="caballero"></app-slider-products>

    <app-title-category [title]="'Descubre para dama'"></app-title-category>

    <div class="grid grid-cols-2 mb-5 gap-2 mx-2">
      <img routerLink="/products/category/Blusa/gender/M" src="../../../../assets/images/mujer/1.png" alt="Blusa" />
      <img routerLink="/products/category/Falda/gender/M" src="../../../../assets/images/mujer/2.png" alt="Falda" />
      <img routerLink="/products/category/Vestido/gender/M" src="../../../../assets/images/mujer/3.png" alt="Vestido" />
      <img routerLink="/products/category/Pantalon/gender/M" src="../../../../assets/images/mujer/4.png" alt="Pantalones" />
      <img routerLink="/products/category/Playera/gender/M" src="../../../../assets/images/mujer/5.png" alt="Playera" />
      <img routerLink="/products/category/Short/gender/M" src="../../../../assets/images/mujer/6.png" alt="Short" />
      <img routerLink="/products/category/Sudadera/gender/M" src="../../../../assets/images/mujer/7.png" alt="Sudadera" />
      <img routerLink="/products/category/Sueter/gender/M" src="../../../../assets/images/mujer/8.png" alt="Sueter" />
      <img routerLink="/products/category/Camisa/gender/M" src="../../../../assets/images/mujer/9.png" alt="Camisa" />
      <img routerLink="/products/category/Polo/gender/M" src="../../../../assets/images/mujer/10.png" alt="Polo" />
    </div>


    <app-title-category [title]="'Descubre para caballero'"></app-title-category>

    <div class="grid grid-cols-2 mb-5 gap-2 mx-2">
      <img routerLink="/products/category/Polo/gender/H" src="../../../../assets/images/hombre/18.png" alt="Polo" />
      <img routerLink="/products/category/Pantalon/gender/H" src="../../../../assets/images/hombre/13.png" alt="Pantalones" />
      <img routerLink="/products/category/Playera/gender/H" src="../../../../assets/images/hombre/14.png" alt="Playera" />
      <img routerLink="/products/category/Short/gender/H" src="../../../../assets/images/hombre/15.png" alt="Short" />
      <img routerLink="/products/category/Sudadera/gender/H" src="../../../../assets/images/hombre/16.png" alt="Sudadera" />
      <img routerLink="/products/category/Camisa/gender/H" src="../../../../assets/images/hombre/17.png" alt="Camisa" />
    </div>
    <hr>
    <div class="flex justify-center py-5">
      <ul class="grid grid-cols-3 text-center gap-5 text-md">
        <li class="flex items-center gap-1">
          <ion-icon name="logo-facebook"></ion-icon>
          <a href="#">Facebook</a>
        </li>
        <li class="flex items-center gap-1">
          <ion-icon name="logo-instagram"></ion-icon>
          <a href="#">Instagram</a>
        </li>
        <li class="flex items-center gap-1">
          <ion-icon name="logo-twitter"></ion-icon>
          <a href="#">Twitter</a>
        </li>
        <li class="flex items-center gap-1">
        </li>
        <li class="flex items-center gap-1">
          <ion-icon name="logo-tiktok"></ion-icon>
          <a href="#">Tiktok</a>
        </li>
      </ul>
    </div>
    <hr>
    <div class="my-5">
      <ul class="flex flex-col items-center text-md">
        <li class="flex items-center gap-1">
          <ion-icon name="book-outline"></ion-icon>
          <a href="#">Aviso de privacidad</a>
        </li>
        <li class="flex items-center gap-1">
          <ion-icon name="document-lock-outline"></ion-icon>
          <a href="#">Terminos y condiciones</a>
        </li>
      </ul>
    </div>

  </ion-content>
</div>
