<form class="mx-3 my-5 flex flex-col gap-3" [formGroup]="form">
  <div class="flex flex-col" *ngFor="let item of inputsForm">
    <label [for]="item.name" class="text-sm text-gray-600">{{
      item.label
    }}</label>
    <input
      [formControlName]="item.name"
      [type]="item.type"
      [id]="item.name"
      [name]="item.name"
      class="outline-none border-b-2 text-md bg-white"
      [ngClass]="{ uppercase: item.type !== 'email' }"
      (keyup)="item.name === 'cp' ? codePostalChange():undefined"
    />
  </div>
  <div>
    <button
      *ngIf="!isEdit"
      (click)="editForm()"
      class="bg-gray-800 py-2 px-3 text-white font-bold w-full"
    >
      Editar informacion
    </button>
    <button
      *ngIf="isEdit"
      class="bg-gray-800 py-2 px-3 text-white font-bold w-full mb-2"
      id="present"
    >
      Guardar cambios
    </button>
    <button
      *ngIf="isEdit"
      class="bg-red-800 py-2 px-3 text-white font-bold w-full"

      (click)="cancelEdit()"
    >
      Cancelar
    </button>
  </div>
</form>
<ion-alert
  *ngIf="isEdit"
  trigger="present"
  header="¿Estas seguro de guardar los cambios?"
  [buttons]="alertButtons"
>
</ion-alert>
