<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="radio/prueba">
      <ion-icon name="bag-handle-outline"></ion-icon>
      Compras
    </ion-tab-button>
    <ion-tab-button tab="radio/prueba">
      <ion-icon name="search-outline"></ion-icon>
      Buscar
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="cart-outline"></ion-icon>
      Carrito
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      Mi cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
