<div>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-title class="capitalize">{{checkTitleForCategory()}}</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>
<ion-content>
  <section *ngIf="products.length > 0 && !isLoader">
    <div class="flex items-center gap-1 justify-end mb-5 px-1 pt-5">
      <label for="order" class="font-semibold">Ordenar por:</label>
      <select name="order" id="order" (ngModel)="order" (change)="orderProductsByOrder()">
        <option value="" selected disabled>Elige una opcion</option>
        <option value="desc">Mayor precio</option>
        <option value="asc">Menor precio</option>
      </select>
    </div>
    <app-list-products [products]="products"></app-list-products>
  </section>
  <section *ngIf="products.length <= 0 && !isLoader">
    <app-product-not-found></app-product-not-found>
  </section>
  <app-loader [isLoader]="isLoader"></app-loader>
</ion-content>
