<ion-toolbar>
  <ion-buttons routerLink="/home">
    <ion-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-title class="capitalize text-sm">Mis compras</ion-title>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <div class="mb-3 flex items-center gap-3">
    <ion-select label="Ordenar por:" placeholder="Precio" [(ngModel)]="order" (ngModelChange)="orden()">
      <ion-select-option value="ng">Ninguno</ion-select-option>
      <ion-select-option value="desc">Mayor precio</ion-select-option>
      <ion-select-option value="asc">Menor precio</ion-select-option>
    </ion-select>
    <ion-select label="Filtar por:" placeholder="Estado" [(ngModel)]="filter" (ngModelChange)="filtrar()">
      <ion-select-option value="ng">Ninguno</ion-select-option>
      <ion-select-option value="completo">Entregado</ion-select-option>
      <ion-select-option value="fenviar">En camino</ion-select-option>
      <ion-select-option value="camino">En proceso</ion-select-option>
    </ion-select>
  </div>
  <div class="flex flex-col gap-5">
    <div *ngFor="let venta of allShoppigs" class="px-3 py-2 rounded-md venta">
      <div>
        <div class="flex justify-between mb-3">
          <span>{{checkDate(venta.fecha_venta)}}</span>
          <a [href]="'https://www.fedex.com/wtrk/track/?trknbr='+venta.envio?.numero_guia" class="text-blue-800">Seguir envio</a>
        </div>
        <div *ngFor="let detalle of venta.detallesVenta" class="mb-2">

          <div class="flex gap-2 items-center">
            <img [src]="detalle.producto.imagen[0].url_imagen" [alt]="detalle.producto.nombre_producto" class="h-20 w-16">
            <div class="flex flex-col capitalize">
              <span
                [ngClass]="{
                  'text-orange-400': venta.estado === 'proceso',
                  'text-green-600': venta.estado === 'completo',
                  'text-yellow-600': venta.estado === 'Fenvio'
                  }">
                {{checkStatus(venta.estado)}}
              </span>
              <span class="text-gray-500">${{detalle.precio}}.00</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>
