<ion-toolbar class="pt-2">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
</ion-toolbar>
<ion-content class="ion-padding">

  <app-title-and-description [data]="dataByTitleComponent"></app-title-and-description>

  <form class="container-form mt-5 pb-5 py-2" [formGroup]="loginForm" (ngSubmit)="loginAction()">
    <ion-item>
      <ion-label position="stacked"
        ><span class="text-xl">Correo electronico</span></ion-label
      >
      <ion-input formControlName="email" type="email" placeholder="example@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"
        ><span class="text-xl">Contraseña</span></ion-label
      >
      <ion-input formControlName="password" type="password" placeholder="examplePass123"></ion-input>
    </ion-item>
    <div class="px-2 py-3">
      <ion-button type="submit" color="dark" fill="outline" class="capitalize" [disabled]="getButtonControl">
        Iniciar sesion
      </ion-button>
      <ion-button color="medium" class="capitalize" [disabled]="getButtonControl">
        Registrate
      </ion-button>
    </div>
    <div class="px-2 text-center">
      <a href="#" class="text-blue-950">¿Olvidaste tu contraseña?</a>
    </div>
  </form>

  <div class="mt-5">
    <h3 class="text-xl text-gray-800 font-bold">Ayuda</h3>
    <app-acordion-component></app-acordion-component>
  </div>

  <ion-toast
    [isOpen]="getisToastOpen"
    [message]="getToastMessage"
    [duration]="2000"
    (didDismiss)="setisToastOpen = false"
  ></ion-toast>

</ion-content>
