<ion-toolbar>
  <ion-buttons>
    <ion-button class="capitalize" routerLink="/loginModule/recuperar-password">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Recuperar contraseña
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <app-title-and-description [data]="dataByTitle"></app-title-and-description>
  <form>
    <ion-item [formGroup]="codeForm">
      <ion-label position="floating">Codigo de recuperacion</ion-label>
      <ion-input formControlName="code" name="email" required></ion-input>
    </ion-item>
    <ion-button
      color="medium"
      fill="outline"
      class="capitalize mt-4"
      (click)="canceledRecover()"
    >
      Cancelar
    </ion-button>
    <ion-button color="medium" class="capitalize mt-4" (click)="checkCode()">
      Verificar codigo
    </ion-button>
  </form>
  <ion-toast
    [isOpen]="getisToastOpen"
    [message]="getToastMessage"
    [duration]="2000"
    (didDismiss)="setisToastOpen = false"
  ></ion-toast>
</ion-content>
<!-- luis28jair5@gmail.com -->
