<ion-toolbar>
  <ion-buttons>
    <ion-button class="capitalize" routerLink="/loginModule/recuperar-password">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Recuperar contraseña
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <app-title-and-description [data]="dataByTitle"></app-title-and-description>
  <ion-item>
    <ion-label position="floating">Codigo de recuperacion</ion-label>
    <ion-input name="email" required></ion-input>
  </ion-item>
  <ion-button color="medium" fill="outline" class="capitalize mt-4">
    Cancelar
  </ion-button>
  <ion-button type="submit" color="medium" class="capitalize mt-4">
    Recuperar
  </ion-button>
</ion-content>
