<ion-toolbar>
  <ion-buttons routerLink="/account">
    <ion-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-title class="capitalize text-sm">Datos personales</ion-title>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <div class="flex justify-center h-32">
    <img src="../../../../assets/icon/image.png" alt="user" class="rounded-full">
  </div>
  <form class="mx-5 my-5 flex flex-col gap-3">
    <div class="flex flex-col">
      <label for="name" class="text-sm text-gray-600">Nombre</label>
      <input type="text" id="name" name="name" class="outline-none border-b-2 text-md uppercase" value="Luis">
    </div>
    <div class="flex flex-col">
      <label for="name" class="text-sm text-gray-600">Apellido paterno</label>
      <input type="text" id="lastname" name="lastname" class="outline-none border-b-2 text-md uppercase" value="Escalante">
    </div>
    <div class="flex flex-col">
      <label for="name" class="text-sm text-gray-600">Apellido materno</label>
      <input type="text" id="motherLastname" name="motherLastname" class="outline-none border-b-2 text-md uppercase" value="Cruz">
    </div>
    <div class="flex flex-col">
      <label for="name" class="text-sm text-gray-600">Genero</label>
      <input type="text" id="gender" name="gender" class="outline-none border-b-2 text-md uppercase" value="M">
    </div>
    <div class="flex flex-col">
      <label for="name" class="text-sm text-gray-600">Fecha de nacimiento</label>
      <input type="date" id="birthday" name="birthday" class="outline-none border-b-2 text-md">
    </div>
  </form>
</ion-content>
