<ion-toolbar>
  <ion-buttons>
    <ion-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-title class="capitalize text-sm">Compra</ion-title>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <section>
    <img [src]="product.imagen[0].url_imagen" alt="">
    <div class="mt-3">
      <h1 class="capitalize text-lg font-bold">{{ product.nombre_producto }}</h1>
      <p class="text-gray-500 font-semibold">${{ product.precio }}.00</p>
      <p class="text-gray-500 font-semibold">Descuento: {{ product.descuento }}%</p>
    </div>
    <div>
      <ion-select [(ngModel)]="cantidad" label="Cantidad" (ionChange)="changePrice()">
        <ion-select-option *ngFor="let item of optionsCantidad(product.stock)" [value]="item">{{item}}</ion-select-option>
      </ion-select>
    </div>
  </section>
  <ion-toast message="Compra completada" [isOpen]="isOpen" duration="2000" (didDismiss)="isOpen = false"></ion-toast>
</ion-content>
<ion-footer class="py-3 px-3">
  <p class="text-green-600">Envio gratis</p>
  <div class="flex justify-between">
    <p><strong class="text-lg">Total</strong><span class="text-gray-500"> 1 articulo</span></p>
    <span class="font-bold text-lg">${{changePrice()}}</span>
  </div>
  <div class="flex items-center justify-center gap-5">
    <button class="rounded-sm ring-1 px-3 py-2 w-full ring-gray-300">Seguir comprando</button>
    <button class="rounded-sm ring-1 px-3 py-2 w-full text-white bg-black font-semibold" (click)="paymentSheet()">Proceder al pago</button>
  </div>
</ion-footer>

