<ion-accordion-group class="mt-2">
  <ion-accordion value="uno">
    <ion-item slot="header" color="light">
      <ion-label>Olvide mi contraseña</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta fugiat
      totam quibusdam harum exercitationem aspernatur reprehenderit, eaque
      voluptatum perspiciatis ad cumque officiis quisquam nobis hic eius error
      ab suscipit veritatis.
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>¿Como crear una cuenta?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      quibusdam, consectetur delectus qui deleniti autem perspiciatis, ipsum
      quidem excepturi ea modi optio ullam unde repellendus eum, dicta
      voluptatum voluptate? Ab?
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>¿Como comprar un producto?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, vitae
      nesciunt! Atque ex asperiores consequatur quisquam qui temporibus itaque
      ab, ratione veritatis nisi eligendi eum ipsam, rem nesciunt, vero saepe!
    </div>
  </ion-accordion>
  <ion-accordion value="four">
    <ion-item slot="header" color="light">
      <ion-label>¿Como se rastreo un pedido?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, vitae
      nesciunt! Atque ex asperiores consequatur quisquam qui temporibus itaque
      ab, ratione veritatis nisi eligendi eum ipsam, rem nesciunt, vero saepe!
    </div>
  </ion-accordion>
</ion-accordion-group>
