
  <ion-toolbar class="pb-1">
    <div class="flex items-center gap-1">
      <form [formGroup]="searchForm" (submit)="searchProductByBar()">
        <ion-searchbar formControlName="search" class="w-full" placeholder="Buscar"></ion-searchbar>
      </form>
      <ion-buttons>
        <ion-button routerLink="/home" class="capitalize text-gray-700">
          Cancelar
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
<ion-content>
  <section *ngIf="!isLoader && products.length > 0">
    <div class="flex items-center gap-1 justify-end mb-5 px-1 pt-5">
      <label for="order" class="font-semibold">Ordenar por:</label>
      <select name="order" id="order" (ngModel)="order" (change)="orderProductsByOrder()">
        <option value="" selected disabled>Elige una opcion</option>
        <option value="desc">Mayor precio</option>
        <option value="asc">Menor precio</option>
      </select>
      <label for="filter">Filtar por:</label>
      <select name="filter" id="filter">
        <option value="T">Todos</option>
        <option value="M">Caballero</option>
        <option value="F">Dama</option>
      </select>
    </div>
    <app-list-products [products]="products"></app-list-products>
  </section>
  <app-product-not-found *ngIf="products.length <= 0 && !isLoader"></app-product-not-found>
  <app-loader [isLoader]="isLoader"></app-loader>
</ion-content>
