<ion-toolbar>
  <ion-buttons>
    <ion-button class="capitalize" routerLink="/loginModule/recuperar-password">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Recuperar contraseña
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <app-title-and-description [data]="dataByTitle"></app-title-and-description>
  <ion-item>
    <ion-label position="floating">Ingresa nueva contraseña</ion-label>
    <ion-input type="password" name="password" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Escribe nuevamente la contraseña</ion-label>
    <ion-input type="password" name="password" required></ion-input>
  </ion-item>
  <ion-button type="submit" color="medium" class="capitalize mt-4 w-full">
    Recuperar
  </ion-button>
</ion-content>
