<section class="grid grid-cols-2 gap-2 px-2">
  <div *ngFor="let item of products" class="shadow-md">
    <div class="relative">
      <img [src]="item.imagen[0].url_imagen" [alt]="item.nombre_producto">
      <button class="flex items-center justify-center py-2 px-2 absolute z-10 top-1 right-1 rounded-lg bg-white text-black shadow-md">
        <ion-icon name="cart-outline"></ion-icon>
      </button>
    </div>
    <div class="text-wrap px-1 pb-2 flex flex-col text-center">
      <strong>${{item.precio}}.00</strong>
      <span class="capitalize font-light text-gray-600">{{item.nombre_producto}}</span>
    </div>
  </div>
</section>
